@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: neu;
  src: url('./assets/fonts/NBInternationalProBoo.ttf');
}
@font-face {
  font-family: rejoy;
  src: url('./assets/fonts/Rejouice-Headline.ttf');
}
h1 span
{
  font-family: rejoy;
}
h2
{
  font-family: neu;
}
.box:hover img
{
  opacity: 0;
  transition: all ease 1s;
}